streamlit
firebase-admin
pytesseract
opencv-python-headless
PyMuPDF
pdfplumber
pandas
plotly
langchain==0.1.13
langchain-google-genai
langchain-community==0.0.29
langchain-core==0.1.33
langchain-text-splitters
faiss-cpu
google-generativeai
openpyxl
Pillow
numpy
spacy
python-dotenv
