streamlit
firebase-admin
pytesseract
opencv-python-headless
PyMuPDF
pdfplumber
pandas
plotly
langchain
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
openai
openpyxl
Pillow
numpy
spacy
python-dotenv
