streamlit
firebase-admin
pytesseract
opencv-python-headless
PyMuPDF
pdfplumber
pandas
plotly
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
faiss-cpu
google-generativeai
openpyxl
Pillow
numpy
spacy
python-dotenv
